body{
    background-color: lightgray;
    margin-left: 20px;
}

p{
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 10px;
}
h2{
    color: red;
    margin-top: 0px;
    margin-bottom: 0px;
}

div #red{
    color: red;
    margin-right: 0px;
}

#country{
    width: 250px;
}

.small{
    font-size: smaller;
    width: 180px;
    text-align: right;
    margin-right: 10px;
    margin-left: 80px;
    margin-top: 0px;
    display: inline-block;
}

.form_middle{
    display: flex;
    align-items: flex-start;
    margin-left: 50px;
    margin-bottom: 10px;
}

.form_middle label{
    flex-basis: 200px;
    text-align: right;
    margin-right: 10px;
}